body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: darken($primary, 10%);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

main {
    display: flex;
    flex-direction: row;
}

#main-grid {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas:
        "menu menu menu"
        "toolbox canvas viewbox"
        "toolbox canvas color";
}

#canv {
    background: white;
}
