.menu-bar {
    display: flex;
    flex-direction: row;
    background: $primary;
    overflow: hidden;
    grid-area: menu;

    .menu-bar-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        
        > li {
            display: inline-block;
        }

        .drop-down {
            position: absolute;
            background-color: white;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    }
}

.menu-bar-button {
    cursor: pointer;
    background: none;
    border: none;
    margin: 0;
    color: darken($secondary, 10%);

    &:hover {
        background: lighten($primary, 10%);
    }
}
